<?xml version="1.0"?>
<launch>
    <arg name="realsense" value="true"/>
    <arg name="camera_ns" value="/camera" />

    <group if="$(arg realsense)">
        <include file="$(find arm_vs)/launch/pointcloud_proc.launch">
            <arg name="pointcloud_input_topic" value="/point_cloud/cloud_registered"/>
            <arg name="openni_device" value="false"/>
        </include>
        
        <include file="$(find arm_vs)/launch/cv_tracking.launch">
            <arg name="tracker_type" value="GOTURN" />
            <arg name="tracking_image_source" value="/rgb/image_raw_color" />
            <arg name="pointcloud_source" value="/voxel_grid/output" />
        </include>
    </group>

    <group unless="$(arg realsense)">
        <include file="$(find arm_vs)/launch/pointcloud_proc.launch">
            <arg name="pointcloud_input_topic" value="/camera/depth/points"/>
            <arg name="openni_device" value="true"/>
        </include>
        
        <include file="$(find arm_vs)/launch/cv_tracking.launch">
            <arg name="tracker_type" value="GOTURN" />
            <arg name="tracking_image_source" value="$(arg camera_ns)/rgb/image_raw" />
            <arg name="pointcloud_source" value="$(arg camera_ns)/depth/points" />
        </include>
    </group>

    <!-- <node name="image_view" pkg="rqt_image_view" type="rqt_image_view" respawn="false" output="screen" /> -->
    <!-- <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg camera_ns)"/> -->

</launch>