<!--
Copyright (c) 2017 Intel Corporation
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
  <arg name="namespace"                 default="opencl_caffe_viewer" />
  <arg name="manager"                   default="opencl_caffe_manager" />
  <arg name="nodelet"                   default="opencl_caffe_nodelet" />
  <arg name="viewer"                    default="opencl_caffe_viewer" />
  <arg name="input_topic"               default="/camera/color/image_raw" />
  <arg name="output_topic"              default="/opencl_caffe/inference" />
  <arg name="color_width"               default="640" />
  <arg name="color_height"              default="480" />

  <include file="$(find opencl_caffe_launch)/launch/includes/manager.launch">
    <arg name="name"                    value="$(arg manager)" />
    <arg name="num_worker_threads"      value="8" />
  </include>
  <include file="$(find opencl_caffe_launch)/launch/includes/nodelet.launch">
    <arg name="name"                    value="$(arg nodelet)" />
    <arg name="manager"                 value="$(arg manager)" />
    <arg name="input_topic"             value="$(arg input_topic)" />
    <arg name="output_topic"            value="$(arg output_topic)" />
  </include>
  <include file="$(find opencl_caffe_launch)/launch/includes/viewer.launch">
    <arg name="name"                    value="$(arg viewer)" />
    <arg name="input_topic"             value="$(arg input_topic)" />
    <arg name="output_topic"            value="$(arg output_topic)" />
  </include>



  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"> 
    <arg name="manager"           value="$(arg manager)"/>
  </include>
</launch>
