<?xml version="1.0"?>
<launch>
    <!-- launch openni to turn on asus sensor -->
    <!-- <arg name="point_cloud_input_topic" value="/camera/depth/points" /> -->

    <include file="$(find arm_vs)/launch/pointcloud_proc.launch" />

    <!-- launch node to track image from rgb and publish tracked object position -->
    <!-- <arg name="camera_ns" value="/camera/rgb" /> -->
    <!-- <arg name="tracking_image_source" value="$(arg camera_ns)/image_mono" /> -->

    <include file="$(find arm_vs)/launch/2d_tracking.launch" />


    <!-- <node name="crop_cloud" pkg="arm_vs" type="crop_cloud" output="screen">
        <param name="input_pixel_points_topic" type="string" value="/tracked_obj_pixels" />
        <param name="input_pointcloud_topic" type="string" value="/camera/depth_registered/points" />
        <param name="output_pointcloud_topic" type="string" value="/tracked_obj_cropped_cloud" />
    </node> -->

</launch>