<?xml version="1.0"?>
<launch>
    <arg name="tracking_image_source"/>
    <arg name="pointcloud_source"/>
    <arg name="tracker_type"/>

    <node name="object_image_tracking" pkg="arm_vs" type="obj_image_tracking.py" output="screen">
        <param name="input_pointcloud_topic"    type="string" value="$(arg pointcloud_source)" />
        <param name="input_image_topic"         type="string" value="$(arg tracking_image_source)" />
        <param name="output_image_topic"        type="string" value="/tracked_frame" />
        <param name="tracker_type"              type="string" value="$(arg tracker_type)" />
    </node>
</launch>