<?xml version="1.0"?>
<launch>
    <arg name="template_pointcloud_filename" value="$(find arm_vs)/dataset/cal_mug/cal_mug_clean.pcd"/>
    <arg name="input_pointcloud" value="/voxel_grid/output" />
    <arg name="tracked_pointcloud" value="/tracked_pointcloud" />
    <arg name="output_pointcloud" value="/aligned_pointcloud" />

    <node pkg="arm_vs" type="arm_vs_track_obj_pointcloud" name="pointcloud_tracking" output="screen">
        <param name="input_pointcloud_topic" type="string" value="$(arg input_pointcloud)" />
        <param name="output_pointcloud_topic" type="string" value="$(arg tracked_pointcloud)" />
        <param name="template_cloud_filename" type="string" value="$(arg template_pointcloud_filename)" />
    </node>

    <node pkg="arm_vs" type="arm_vs_align_obj_pointcloud" name="pointcloud_alignment" output="screen">
        <param name="input_template_pointcloud_topic" type="string" value="$(arg tracked_pointcloud)" />
        <param name="input_scene_pointcloud_topic" type="string" value="$(arg input_pointcloud)" />
        <param name="output_pointcloud_topic" type="string" value="$(arg output_pointcloud)" />
    </node>
</launch>