<?xml version="1.0"?>
<launch>

    <!-- Arguments for particle filter tracking -->
    <arg name="pf_tracker_reset_service"                            default="reset_particle_filter_tracker" />
    <arg name="pointcloud_template_pointcloud_filename"             default="$(find arm_vs)/dataset/vitamin/vitamin_bottle.pcd" />
    <arg name="tracked_pointcloud"                                  default="/voxel_grid/output" />

    <arg name="pf_tracked_pointcloud"                               default="/tracked_pointcloud" />
    <arg name="pf_tracked_template_frame"                           default="particle_filter_tracked_template_frame" />

    <!-- Arguments for ICP alignment -->
    <arg name="icp_output_pointcloud"                               default="/aligned_pointcloud" />
    <arg name="icp_alignment_frame"                                 default="icp_alignment_frame" />

    <!-- Particle filter tracker -->
    <!-- <node name="pointcloud_tracking" pkg="arm_vs" type="arm_vs_obj_pointcloud_tracking" output="screen">
        <param name="input_pointcloud_topic"                    type="string" value="$(arg tracked_pointcloud)" />
        <param name="output_pointcloud_topic"                   type="string" value="$(arg pf_tracked_pointcloud)" />
        <param name="template_cloud_filename"                   type="string" value="$(arg pointcloud_template_pointcloud_filename)" />
        <param name="particle_filter_tracked_template_frame"    type="string" value="$(arg pf_tracked_template_frame)" />
        <param name="particle_filter_tracker_reset_service"     type="string" value="$(arg pf_tracker_reset_service)" />
    </node> -->
    
    <!-- ICP alignment -->
    <node name="pointcloud_alignment" pkg="arm_vs" type="arm_vs_obj_pointcloud_alignment" output="screen">
        <param name="input_pointcloud_topic"                    type="string" value="$(arg tracked_pointcloud)" />
        <param name="output_pointcloud_topic"                   type="string" value="$(arg icp_output_pointcloud)" />
        <param name="template_cloud_filename"                   type="string" value="$(arg pointcloud_template_pointcloud_filename)" />
        <param name="icp_alignment_frame"                       type="string" value="$(arg icp_alignment_frame)" />
    </node>

</launch>